<!-- IF U_CUSTOMCODE_HIDE_EVENTS -->
<a class="customcode-event-hide" href="{U_CUSTOMCODE_HIDE_EVENTS}">{L_CUSTOMCODE_HIDE_TEMPLATE_EVENTS_LOCATIONS}</a><br/>
<a class="customcode-event-head" href="{U_CUSTOMCODE_OVERALL_HEADER_HEAD_APPEND}">overall_header_head_append {L_CUSTOMCODE_INSIDE_HTML_HEAD}</a><br/>
<a class="customcode-event-head" href="{U_CUSTOMCODE_OVERALL_HEADER_STYLESHEETS_AFTER}">overall_header_stylesheets_after {L_CUSTOMCODE_INSIDE_HTML_HEAD}</a><br/>
<a class="customcode-event" href="{U_CUSTOMCODE_OVERALL_HEADER_BODY_BEFORE}">overall_header_body_before</a>
<!-- ENDIF -->
<!-- IF S_CUSTOMCODE -->
<!-- INCLUDE ../../../../../../store/customcode/overall_header_body_before.html -->
<!-- ENDIF -->
